.customWallet {
    margin: 1rem;
	border: 1px solid black;
	border-radius: 5px;
}

hr.horizonalLine {
    border-top: 1px dotted black;
}

.error {
    font-family: 'Times New Roman';
    color: rgb(206, 50, 39);
}
  